button, .button, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
  color: #fff;
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 auto;
    border: 1px solid $primary-color;
    border-radius: 25px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    // transition: all 0.3s ease-in-out;
    
    &:hover {
        background: $background-radial;
        box-shadow: 0 0px 10px 0px $primary-color;
    }
  }

  .button-dark {
    background-color: darken($accent-color, 10%);
  }

  .btn-delete {
    padding: 5px;
  }